header{
    padding-bottom: 35px;
    max-width: 100%;
     height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to bottom, rgba(157, 14, 14, 0), #4f0707),
    url("image.png");
}
.logo{
    border-radius: 50%;
    width: 86px;
}

.card {
    padding: 0 34px 0 0;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    margin-right: 0;
  }